# Segurança
SECRET_KEY=troque-esta-chave-em-producao
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# Banco de dados (PostgreSQL) - opcional; se ausente, usa SQLite local
# Formato: postgres://user:password@host:5432/dbname
DATABASE_URL=

# JWT opcional (se não definido, usa SECRET_KEY)
JWT_SIGNING_KEY=


